.idle{
    position: absolute;
    width: calc(4096px / 8);
    height: 512px;
    background: url("./../assets/Idle.png");
    /* border: 2px solid red; */
    animation: animate 0.6s steps(8) infinite;
    /* transform: scale(0.2); */
    zoom: 0.7;
    /* top: 0; */
    left: -2%;
    bottom: -10%;
}

@keyframes animate {
    from{
        background-position: 0;
    }
    to{
        background-position: 4096px;
    }
}