.right-sidebar-container{
    padding: 1rem;
    // border: 2px solid red;
    
    display: grid;
    height: 95%;
    grid-template-rows: 55px 1fr;
    padding: 2rem 0.5rem;
    gap: 1rem;
    grid-template-areas: 
    "tabs"
    "contentbox";
}

.rightsb__button__container{
    grid-area: tabs;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background-color: var(--sidebarContainerBackground);
    border-radius: 20px;
}
.rightsb__button{
    flex: 0.5;
    padding: 1rem 1.75rem;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-size: 0.9;
    font-weight: bold;
}
.rightsb__button--active{
    color: black;
    background-color: var(--popBlue)
}

.rightsb__content{
    grid-area: contentbox;
    height: 103%;
    // border: 2px solid orange;
    overflow: hidden;
    
    .pt__header{
        display: flex;
        color: white;
        font-weight: bold;
        // border: 2px solid red;
        align-items: center;
        justify-content: space-around;
        width: 85%;
        margin: 0 auto;
        padding: 0 1rem 0.5rem;
    }
    
    .pt__rows__container{
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 1rem;
        // height: auto;
        
        .pt__row__item{
            display: flex;
            // border: 2px solid aqua;
            font-weight: bold;
            align-items: center;
            justify-content: space-between;
            width: 85%;
            margin: 0.5rem auto;
            padding: 0.6rem;
            border-radius: 6px;
            text-align: center;

            &:last-of-type{
                margin-bottom: 2rem;
            }

            &--active{
                background-color: rgba(0, 94, 125, 0.452);
                // opacity: 0.5;
                
            }
            .pt__row__time{
                color: white;
                flex: 0.5;
                // border: 2px solid red;
            }
            .pt__row__coeff{
                color: var(--textGold);
                flex: 0.5;
                // border: 2px solid red;
            }
        }
    }
}