#root, html{
  height: 100%;
}

body{
  height: 100%;
  padding: 90px 44px;
  background-color: #00012E;
  min-width: 1600px;
  
  
  // @media screen and (max-width: 1680px) {
  //   // zoom: 0.7;
  //   transform: scale(0.9);
  // }
  // @media screen and (max-width: 1400px) {

  //   // zoom: 0.7;
  //   transform: scale(0.7);
  // }
}

.main-container{
  height: 100%;
  display: grid;
  grid-template-columns: 25% 1fr 21%;
  grid-template-rows: 61% 39%;
  grid-template-areas: 
  "leftsb game rightsb"
  "leftsb score rightsb";
  gap: 1rem;
}


.score-container{
  grid-area: score;
  /* border: 2px solid red; */  
}
.game-container{
  grid-area: game;
  /* border: 2px solid orange; */
  background-color: #FFEF00;
}
.left-sidebar{
  grid-area: leftsb;
  background: #00BAFF;
  padding: 30px 5px;
  /* border: 2px solid olive; */
}
.right-sidebar{
  grid-area: rightsb;
  /* border: 2px solid aqua; */
  background: #00BAFF;
  padding: 30px 5px;
  /* background: #00BAFF; */
}
.gradient-container{
  background: transparent linear-gradient(146deg, #004B68 0%, #000B1D 36%, #00263E 100%) 0% 0% no-repeat padding-box;
  height: 100%;
}
