#root, html{
  height: 100%;
}

body{
  height: 100%;
  // max-height: 1100px;
  padding: 90px 44px;
  background-color: #00012E;
  min-width: 1600px;
  margin: auto;
  max-width: 1900px;
  // border: 2px solid orange;


  @media (orientation: landscape) {
    @media screen and (max-width: 1025px) {
      zoom: 0.6;
      height: 80%;

      @media screen and (max-height: 769px) and (min-width: 1000px){
        height: 70%;
        zoom: 0.55;
        margin-top: 150px;
      }

      @media screen and (max-height: 420px) {
        height: 88%;
        margin-top: 70px;
      }

      @media screen and (max-height: 400px) {
        height: 88%;
        margin-top: 70px;
      }




      // padding: 100px 44px;
    }
    @media screen and (max-width: 850px) {
      zoom: 0.35;
    }
  }
  
  // @media screen and (max-width: 1680px) {
  //   // zoom: 0.7;
  //   transform: scale(0.9);
  // }
  // @media screen and (max-width: 1400px) {

  //   // zoom: 0.7;
  //   transform: scale(0.7);
  // }
}

.main-container{
  height: 100%;
  display: grid;
  grid-template-columns: 25% 1fr 21%;
  grid-template-rows: 61% 39%;
  grid-template-areas: 
  "leftsb game rightsb"
  "leftsb score rightsb";
  gap: 1rem;
  // margin: auto;
  // border: 2px solid red;
}


.score-container{
  grid-area: score;
  /* border: 2px solid red; */  
}
.game-container{
  grid-area: game;
  /* border: 2px solid orange; */
  background-color: #FFEF00;
}
.left-sidebar{
  grid-area: leftsb;
  background: #00BAFF;
  padding: 30px 5px;
  /* border: 2px solid olive; */
}
.right-sidebar{
  grid-area: rightsb;
  /* border: 2px solid aqua; */
  background: #00BAFF;
  padding: 30px 5px;
  /* background: #00BAFF; */
}
.gradient-container{
  background: transparent linear-gradient(146deg, #004B68 0%, #000B1D 36%, #00263E 100%) 0% 0% no-repeat padding-box;
  height: 100%;
}

.orientation-img{
  // background: url("./assets/unnamed.png");
  // background-size: 100%;
  // background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  margin: auto;
  height: 100vh;
  margin-top: auto;
  // border: 2px solid red;
  transform: translateY(100%);

  .orient-text{
    color: white;
    font-size: 3rem;
  }
  
  img{
    width: 50%;
    margin-bottom: 2rem;
  }
}